$gray-background: #303030;
$gray-features: #d3d3d3;
$heading-color: whitesmoke;
$font-color: #d3d3d3;
$about-color: #B03D30;
$text-background: #1b1b1b;
$projects-color: #ca5310;
$resume-color: #04776F;
$resume-highlight: #069b91;

:export {
    $gray-background: #303030;
    $gray-features: #d3d3d3;
    $heading-color: whitesmoke;
    $font-color: #d3d3d3;
    $about-color: #B03D30;
    $text-background: #1b1b1b;
    $projects-color: #ca5310;
    $resume-color: #04776F;
    $resume-highlight: #069b91;

}